.heading{
    font-size: 23px;
    width:100%;
    margin-top: 0;
    box-shadow: 5px 5px 5px rgb(218, 255, 84);
}

.note{
    font-size: 15px;
    color: turquoise;
}

.copy_right_footer{
    position: fixed;
    color:black;
    bottom:0;
    width: 100%;
    background-color: rgb(205, 50, 50);
    line-height: 3;
    text-align: center;
}

canvas{
    border:5px solid plum;
    border-radius: 20px;
    box-shadow: 5px 5px 5px peru;
    
}

body{
    font-family: 'Neonderthaw', cursive;
}